[include]
	path = ~/dotfiles/.gitconfig
[includeIf "gitdir:C:/"]
  path = ~/dotfiles/00my/.gitconfig.win
[includeIf "gitdir:D:/"]
  path = ~/dotfiles/00my/.gitconfig.win
[includeIf "gitdir:E:/"]
  path = ~/dotfiles/00my/.gitconfig.win
[includeIf "gitdir:F:/"]
  path = ~/dotfiles/00my/.gitconfig.win
[includeIf "gitdir:G:/"]
  path = ~/dotfiles/00my/.gitconfig.win
[includeIf "gitdir:H:/"]
  path = ~/dotfiles/00my/.gitconfig.win
[includeIf "gitdir:/"]
  path = ~/dotfiles/00my/.gitconfig.nix
[alias]
	orphank = !gitk --all `git reflog | cut -c1-7`&
	orphanl = !git --pretty=oneline --abbrev-commit --graph --decorate `git reflog | cut -c1-7`
	orphanl = !git log --pretty=oneline --abbrev-commit --graph --decorate git reflog | cut -d " " -f 1
	#https://stackoverflow.com/questions/21552157/git-alias-to-chain-add-commit-pull-push
	commitall = "!func(){ set -x; git add . && git commit -aqm \""${1}\"" ; git pull -q --no-progress && git push -q; }; func"
	#git ca #is git add commit pull push
	ca =        "!func(){ set -x; git add . && git commit -aqm \""${1}\"" ; git pull -q --no-progress && git push -q; }; func"
	cd2ca = "!func(){ set -x; [ -d \""${1}\"" ] && cd \""${1}\"" && git ca m; }; func"
	#git mybackup
	mybackup = "!func(){ set -x; git cd2ca ~/dotfiles || true; git cd2ca /d/my_notes || true ; git cd2ca ~/my_notes || true ; }; func"
	#git mirror https://chromium.googlesource.com/chromium/src/base git@code.aliyun.com:chromium/src.base.git
	mysync = "!func(){ set -x; git mybackup; ssh -A qvlaip 'git mybackup' && ssh -A qvparisip 'git mybackup' && ssh -A qalicdip 'git mybackup' ; git mybackup; }; func"
	mirror = "!func(){ set -x; MD5=md5sum; [ -f /sbin/md5 ] && MD5=/sbin/md5 ; TEMPID=${BASHPID}_${RANDOM}_`head /dev/urandom |${MD5}|awk '{ print $1 }'`; \
	echo $TEMPID ; git clone --bare $1 ${TEMPID}.git ; ( cd ${TEMPID}.git ; git push --mirror $2 ; ) ; rm -rf ${TEMPID}.git ; }; func"
	echo = "!echofunc(){ echo $1; echo $*; echo $@; echo $# ; }; echofunc"
	shset = "!echofunc(){ MD5=md5sum; [ -f /sbin/md5 ] && MD5=/sbin/md5 ; TEMPID=${BASHPID}_${RANDOM}_`head /dev/urandom |${MD5}`; \
	echo $TEMPID ;\
	}; echofunc"
[user]
	name = lrobot
	email = lrobot.qq@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	#https://help.github.com/articles/caching-your-github-password-in-git/#platform-all
	#helper = osxkeychain
	#helper = store
	#helper = wincred
	helper = osxkeychain
[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = false
	template = ~/.stCommitMsg

[color]
	ui = true
#about core.autocrlf ref https://help.github.com/en/articles/configuring-git-to-handle-line-endings

#[core]
	#autocrlf = true   #true for windows, input for nix(already impl by includeIf)
# linux& mac  git config --global core.autocrl input
#[core]
#	autocrlf = input

# windows git config --global core.autocrl true
#[core]
#	autocrlf = true

[core]
#	fileMode = false
#	excludesfile = /Users/cdluoqingquan/.gitignore_global
#	fileMode = false
	excludesfile = ~/.gitignore
#[url "https://"]
#	insteadOf = git://
